---
name: actionlint
env:
  AQUA_POLICY_CONFIG: ${{ github.workspace }}/aqua-policy.yaml
on:
  push:
    branches: [main]
    paths:
    - .github/**
  pull_request:
    branches: [main]
    paths:
    - .github/**
permissions:
  contents: read
jobs:
  default:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
    - uses: aquaproj/aqua-installer@d50342f608c1528dcdfe41d1255fc5ec0f687305 # v2.0.1
      with:
        aqua_version: v1.26.2
    - run: actionlint
