---
name: autofix.ci
on: pull_request
permissions: {}
jobs:
  autofix:
    runs-on: ubuntu-24.04
    permissions: {}
    timeout-minutes: 15
    steps:
      - uses: suzuki-shunsuke/go-autofix-action@2a159c8f21af356c29ee26d76821b5c15956c1d6 # v0.1.11
        with:
          aqua_version: v2.56.6
      - run: aqua upc -prune
        working-directory: pkg/cosign
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - run: aqua upc -prune
        working-directory: pkg/slsa
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - run: aqua upc -prune
        working-directory: pkg/minisign
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - run: aqua upc -prune
        working-directory: pkg/ghattestation
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}

      - run: git ls-files docs | xargs pinact run -u
        working-directory: website
        env:
          GITHUB_TOKEN: ${{github.token}}
      - name: get nested property
        id: package_json
        uses: notiz-dev/github-action-json-property@a5a9c668b16513c737c3e1f8956772c99c73f6e8 # v0.2.0
        with:
          path: website/package.json
          prop_path: volta.node
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{steps.package_json.outputs.prop}}
          cache: npm
          cache-dependency-path: website/package-lock.json
      - run: npm ci
        working-directory: website
      - run: bash scripts/generate-usage.sh
        working-directory: website

      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8 # v1.3.3
