---
name: autofix.ci
on: pull_request
permissions: {}
jobs:
  autofix:
    runs-on: ubuntu-24.04
    permissions: {}
    timeout-minutes: 15
    steps:
      - uses: suzuki-shunsuke/go-autofix-action@f085cc7cc43236b2655c5893e20f187023cb37d7 # v0.1.8
        with:
          aqua_version: v2.53.5
      - run: aqua upc -prune
        working-directory: pkg/cosign
      - run: aqua upc -prune
        working-directory: pkg/slsa
      - run: aqua upc -prune
        working-directory: pkg/minisign
      - run: aqua upc -prune
        working-directory: pkg/ghattestation
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27 # v1.3.2
