---
name: integration-test
on:
  push:
    branches: [main]
    tags: [v*]
  pull_request:
    branches: [main]
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  AQUA_LOG_LEVEL: debug
  AQUA_LOG_COLOR: always
  AQUA_POLICY_CONFIG: ${{ github.workspace }}/aqua-policy.yaml
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
    - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
      with:
        go-version: '1.19.4'
        cache: true

    - uses: sigstore/cosign-installer@v2.8.1
      with:
        cosign-release: v1.13.1 # renovate: depName=sigstore/cosign

    - run: go install ./cmd/aqua
    - run: echo "${XDG_DATA_HOME:-$HOME/.local/share}/aquaproj-aqua/bin" >> "$GITHUB_PATH"
    - run: echo "AQUA_GLOBAL_CONFIG=$PWD/tests/main/aqua-global.yaml:$PWD/tests/main/aqua-global-2.yaml" >> "$GITHUB_ENV"
    - run: echo "standard,kubernetes-sigs/kind" | aqua g -f -
    - run: echo "x-motemen/ghq" | aqua g -f -
    - run: echo "local,aquaproj/aqua-installer" | aqua -c tests/main/aqua-global.yaml g -f -
    - run: aqua g x-motemen/ghq aquaproj/aqua-installer
    - run: echo cli/cli | aqua g -f - x-motemen/ghq aquaproj/aqua-installer suzuki-shunsuke/tfcmt@v3.0.0
    - name: Test -pin
      run: aqua g --pin cli/cli suzuki-shunsuke/tfcmt@v2.0.0

    - run: aqua list
    - run: aqua update-checksum
      working-directory: tests/main
    - run: aqua update-checksum -deep
      working-directory: tests/main
    - run: aqua update-checksum -prune
      working-directory: tests/main
    - run: aqua i -l -a
      working-directory: tests/main
    - run: cmdx -v
      working-directory: tests/main
    - run: aqua i --test
      working-directory: tests/main
      env:
        AQUA_LOG_COLOR: always
    - run: aqua which golangci-lint
      working-directory: tests/main
    - run: aqua which go
    - run: golangci-lint version
    - run: kind version
      working-directory: tests/main
    - run: kind version
    - run: restic version
      env:
        AQUA_PROGRESS_BAR: "true"
    - run: migrate -version
    - run: ghq -version
    - run: gh version
    - run: tfenv --version
    - run: aqua -c tests/main/aqua-global.yaml g local,kubernetes-sigs/kustomize
    - run: btop -v
    - run: btop -v
      env:
        AQUA_EXPERIMENTAL_X_SYS_EXEC: "true"
    - run: wire --help
    - run: gox --help
    - run: bats -v
    - run: helm version
    - run: github-compare -v
    - run: terrafmt version

    - name: test cosign
      run: aqua i
      working-directory: tests/cosign

    - name: test SLSA
      run: aqua i
      working-directory: tests/slsa

    - name: output bash completion
      run: aqua completion bash
    - name: output zsh completion
      run: aqua completion zsh

    - run: aqua g -i suzuki-shunsuke/tfcmt
      working-directory: tests/main
    - name: add duplicated package
      run: aqua g -i suzuki-shunsuke/tfcmt
      working-directory: tests/main
    - run: git diff aqua.yaml
      working-directory: tests/main

    - name: "Test generate-registry"
      run: aqua gr cli/cli
    - name: "Test generate-registry (emoji)"
      run: aqua gr hmarr/codeowners
    - name: "Test generate-registry (rust)"
      run: aqua gr XAMPPRocky/tokei

    - name: "test version_source: github_tag"
      run: aqua -c aqua-global.yaml g local,mitchellh/gox
      working-directory: tests/main

    - name: test aqua cp
      run: aqua cp actionlint golangci-lint
    - name: test aqua cp
      run: dist/actionlint -version
    - name: test aqua cp
      run: dist/golangci-lint version
    - name: test aqua cp
      run: aqua cp
    - name: test aqua cp -a
      run: aqua cp -a

    - name: test tags
      run: aqua i
      working-directory: tests/tag
    - name: test tags
      run: aqua i -t test
      working-directory: tests/tag
    - name: test tags
      run: aqua i -t foo,bar
      working-directory: tests/tag
    - name: test tags
      run: aqua i --exclude-tags test
      working-directory: tests/tag
    - name: test tags
      run: aqua i --exclude-tags test -t foo
      working-directory: tests/tag

    - name: test tags
      run: aqua cp
      working-directory: tests/tag
    - name: test tags
      run: aqua cp -t test
      working-directory: tests/tag
    - name: test tags
      run: aqua cp -t foo,bar
      working-directory: tests/tag
    - name: test tags
      run: aqua cp --exclude-tags test
      working-directory: tests/tag
    - name: test tags
      run: aqua cp --exclude-tags test -t foo
      working-directory: tests/tag

    - run: aqua update-checksum -a

    # Test if global configuration files are read in `aqua list` and `aqua g`
    - run: aqua g suzuki-shunsuke/cmdx
      working-directory: /tmp
    - run: aqua list
      working-directory: /tmp

    - name: Test update-aqua
      run: aqua update-aqua

    - run: aqua-installer -v v0.8.1 -i /tmp/aqua

  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
    - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
      with:
        go-version: '1.19.4'
        cache: true

    - run: go install ./cmd/aqua
    - run: echo "$HOME/AppData/Local/aquaproj-aqua/bin" >> "$GITHUB_PATH"
    - run: echo "AQUA_GLOBAL_CONFIG=$PWD/tests/main/aqua-global.yaml:$PWD/tests/main/aqua-global-2.yaml" >> "$GITHUB_ENV"
    - run: echo "standard,kubernetes-sigs/kind" | aqua g -f -
    - run: echo "x-motemen/ghq" | aqua g -f -
    - run: aqua g x-motemen/ghq aquaproj/aqua-installer
    - run: echo cli/cli | aqua g -f - x-motemen/ghq aquaproj/aqua-installer

    - run: aqua list
    - run: aqua update-checksum
      working-directory: tests/main
    - run: aqua i -l -a
      working-directory: tests/main
    - run: cmdx -v
      working-directory: tests/main
    - run: aqua i --test
      working-directory: tests/main
    - run: aqua which golangci-lint
      working-directory: tests/main
    - run: aqua which go
    - run: golangci-lint version
    - run: kind version
      working-directory: tests/main
    - run: kind version
    - run: restic version
      env:
        AQUA_PROGRESS_BAR: "true"
    - run: migrate -version
    - run: ghq -version
    - run: gh version
    - run: aqua -c tests/main/aqua-global.yaml g local,kubernetes-sigs/kustomize
    - run: wire --help
    - run: gox --help
    - run: github-compare -v
    - run: helm version
    - run: terrafmt version

    - run: aqua g -i suzuki-shunsuke/tfcmt
      working-directory: tests/main
    - run: git diff aqua.yaml
      working-directory: tests/main

    - name: "Test generate-registry"
      run: aqua gr cli/cli
    - name: "Test generate-registry (rust)"
      run: aqua gr XAMPPRocky/tokei

    - name: "test version_source: github_tag"
      run: aqua -c aqua-global.yaml g local,mitchellh/gox
      working-directory: tests/main

    # Test if global configuration files are read in `aqua list` and `aqua g`
    - run: aqua g suzuki-shunsuke/cmdx
      working-directory: ${{ env.HOME }}
    - run: aqua list
      working-directory: ${{ env.HOME }}

    - name: test aqua cp
      run: aqua cp actionlint golangci-lint
    - name: test aqua cp
      run: dist/actionlint -version
    - name: test aqua cp
      run: dist/golangci-lint version

    - name: Test update-aqua
      run: aqua update-aqua

  build-windows-pwsh:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
    - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
      with:
        go-version: '1.19.4'
        cache: true

    - run: go install ./cmd/aqua
    - run: echo "$HOME\AppData\Local\aquaproj-aqua\bat" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
    - run: echo "AQUA_GLOBAL_CONFIG=$PWD\tests\main\aqua-global.yaml;$PWD\tests\main\aqua-global-2.yaml" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
    - run: echo "standard,kubernetes-sigs/kind" | aqua g -f -
    - run: echo "x-motemen/ghq" | aqua g -f -
    - run: aqua g x-motemen/ghq aquaproj/aqua-installer
    - run: echo cli/cli | aqua g -f - x-motemen/ghq aquaproj/aqua-installer

    - run: aqua list
    - run: aqua update-checksum
      working-directory: tests/main
    - run: aqua i -l -a
      working-directory: tests/main
    - run: cmdx -v
      working-directory: tests/main
    - run: aqua i --test
      working-directory: tests/main
    - run: aqua which golangci-lint
      working-directory: tests/main
    - run: aqua which go
    - run: golangci-lint version
    - run: kind version
      working-directory: tests/main
    - run: kind version
    - run: restic version
      env:
        AQUA_PROGRESS_BAR: "true"
    - run: migrate -version
    - run: ghq -version
    - run: gh version
    - run: aqua -c tests/main/aqua-global.yaml g local,kubernetes-sigs/kustomize
    - run: wire --help
    - run: gox --help
    - run: github-compare -v
    - run: terrafmt version
    - run: helm version

    - run: aqua g -i suzuki-shunsuke/tfcmt
      working-directory: tests/main
    - run: git diff aqua.yaml
      working-directory: tests/main

    - name: "Test generate-registry"
      run: aqua gr cli/cli
    - name: "Test generate-registry (rust)"
      run: aqua gr XAMPPRocky/tokei

    - name: "test version_source: github_tag"
      run: aqua -c aqua-global.yaml g local,mitchellh/gox
      working-directory: tests/main

    # Test if global configuration files are read in `aqua list` and `aqua g`
    - run: aqua g suzuki-shunsuke/cmdx
      working-directory: ${{ env.HOME }}
    - run: aqua list
      working-directory: ${{ env.HOME }}

    - name: test aqua cp
      run: aqua cp actionlint golangci-lint
    - name: test aqua cp
      run: dist/actionlint -version
    - name: test aqua cp
      run: dist/golangci-lint version

    - name: Test update-aqua
      run: aqua update-aqua
