---
name: Release
on:
  push:
    tags: [v*]
permissions: {}
jobs:
  release:
    uses: suzuki-shunsuke/go-release-workflow/.github/workflows/release.yaml@4db55f2aeaca166b2655fa4a80658df1050dc203 # v7.0.0
    with:
      go-version-file: go.mod
      aqua_policy_allow: true
      aqua_version: v2.56.5
    permissions:
      contents: write
      id-token: write
      actions: read
      attestations: write
