---
name: Release
on:
  push:
    tags: [v*]
permissions: {}
jobs:
  release:
    uses: suzuki-shunsuke/go-release-workflow/.github/workflows/release.yaml@4602cd60ba10f19df17a074d76c518a9b8b979bb # v4.0.1
    with:
      go-version-file: go.mod
      aqua_policy_allow: true
      aqua_version: v2.53.3
    permissions:
      contents: write
      id-token: write
      actions: read
      attestations: write
