---
name: test
on:
  push:
    branches: [main]
    tags: [v*]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3.1.0
    - uses: actions/setup-go@c4a742cab115ed795e34d4513e2cf7d472deb55f # tag=v3.3.1
      with:
        go-version: '1.19.3'
        cache: true

    - run: go build -o /usr/local/bin/aqua ./cmd/aqua
    - run: echo "${XDG_DATA_HOME:-$HOME/.local/share}/aquaproj-aqua/bin" >> "$GITHUB_PATH"
    - run: aqua i

    - uses: suzuki-shunsuke/github-action-golangci-lint@21eb516c4e9a92089b8060a2c00326224b33dbfb # tag=v0.1.3

    - run: go test -v ./... -race -covermode=atomic

    - name: Generate token
      id: generate_token
      if: startsWith(github.ref, 'refs/tags/')
      uses: tibdex/github-app-token@021a2405c7f990db57f5eae5397423dcc554159c # tag=v1.7.0
      with:
        app_id: ${{ secrets.APP_ID }}
        private_key: ${{ secrets.APP_PRIVATE_KEY }}

    - name: remove changes
      # Sometimes it is failed to release by goreleaser due to changes of go.sum
      run: git checkout -- .
    - name: fetch tags to release
      run: git fetch --tags -f
    - name: Unshallow
      run: git fetch --prune --unshallow
    - name: Get a Cosign Private Key
      if: startsWith(github.ref, 'refs/tags/')
      run: echo "$COSIGN_KEY" > cosign.key
      env:
        COSIGN_KEY: ${{ secrets.COSIGN_KEY }}
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@b508e2e3ef3b19d4e4146d4f8fb3ba9db644a757 # tag=v3.2.0
      if: startsWith(github.ref, 'refs/tags/')
      with:
        version: latest
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
        HOMEBREW_TAP_GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
    - name: Remove a Cosign Private Key
      if: startsWith(github.ref, 'refs/tags/')
      run: rm cosign.key
