---
name: test GoReleaser
on: workflow_call
jobs:
  test-goreleaser:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    permissions: {}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.4
      - run: goreleaser check
      # Build is too slow for a test
      # - run: goreleaser release --snapshot
