---
name: test
on:
  workflow_call:
    inputs:
      docker_is_changed:
        required: false
        type: boolean

jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      - uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version: 1.23.2
          cache: true
      - run: go build -o /usr/local/bin/aqua ./cmd/aqua
      - run: echo "${XDG_DATA_HOME:-$HOME/.local/share}/aquaproj-aqua/bin" >> "$GITHUB_PATH"
      - run: aqua i -l
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - run: golangci-lint run --timeout 120s
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - run: go test -v ./... -race -covermode=atomic

      - run: mkdir -p dist
        if: inputs.docker_is_changed
      - run: cp /usr/local/bin/aqua dist/aqua-docker
        if: inputs.docker_is_changed
      - run: docker build -t aquaproj-aqua-dev .
        if: inputs.docker_is_changed
