---
name: Integration Test on Windows
on: workflow_dispatch

env:
  AQUA_POLICY_CONFIG: ${{ github.workspace }}/aqua-policy.yaml
  AQUA_GLOBAL_CONFIG: ${{ github.workspace }}/tests/main/aqua-global.yaml:${{ github.workspace }}/tests/main/aqua-global-2.yaml
  AQUA_LOG_COLOR: always
  AQUA_LOG_LEVEL: debug

permissions: {}

jobs:
  integration-test-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    env:
      GITHUB_TOKEN: ${{github.token}}
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
      - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          go-version: 1.20.1
          cache: true

      - run: go install ./cmd/aqua
      - run: echo "$HOME/AppData/Local/aquaproj-aqua/bin" >> "$GITHUB_PATH"
      - run: echo "AQUA_GLOBAL_CONFIG=$PWD/tests/main/aqua-global.yaml:$PWD/tests/main/aqua-global-2.yaml" >> "$GITHUB_ENV"
      - run: echo "standard,kubernetes-sigs/kind" | aqua g -f -
      - run: echo "x-motemen/ghq" | aqua g -f -
      - run: aqua g x-motemen/ghq aquaproj/aqua-installer
      - run: echo cli/cli | aqua g -f - x-motemen/ghq aquaproj/aqua-installer

      - run: aqua list
      - run: aqua update-checksum
        working-directory: tests/main
      - run: aqua i -l -a
        working-directory: tests/main
      - run: cmdx -v
        working-directory: tests/main
      - run: aqua i --test
        working-directory: tests/main
      - run: aqua which golangci-lint
        working-directory: tests/main
      - run: aqua which go
      - run: golangci-lint version
      - run: kind version
        working-directory: tests/main
      - run: kind version
      - run: restic version
        env:
          AQUA_PROGRESS_BAR: "true"
      - run: migrate -version
      - run: ghq -version
      - run: gh version
      - run: aqua -c tests/main/aqua-global.yaml g local,kubernetes-sigs/kustomize
      - run: github-compare -v
      - run: helm version
      - run: terrafmt version

      - run: aqua g -i suzuki-shunsuke/tfcmt
        working-directory: tests/main
      - run: git diff aqua.yaml
        working-directory: tests/main

      - name: "Test generate-registry"
        run: aqua gr cli/cli
      - name: "Test generate-registry (rust)"
        run: aqua gr XAMPPRocky/tokei

      # Test if global configuration files are read in `aqua list` and `aqua g`
      - run: aqua g suzuki-shunsuke/cmdx
        working-directory: ${{ env.HOME }}
      - run: aqua list
        working-directory: ${{ env.HOME }}

      - name: test aqua cp
        run: aqua cp actionlint golangci-lint
      - name: test aqua cp
        run: dist/actionlint -version
      - name: test aqua cp
        run: dist/golangci-lint version

      - name: Test update-aqua
        run: aqua update-aqua

  integration-test-windows-pwsh:
    runs-on: windows-latest
    env:
      GITHUB_TOKEN: ${{github.token}}
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
      - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          go-version: 1.20.1
          cache: true

      - run: go install ./cmd/aqua
      - run: echo "$HOME\AppData\Local\aquaproj-aqua\bat" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - run: echo "AQUA_GLOBAL_CONFIG=$PWD\tests\main\aqua-global.yaml;$PWD\tests\main\aqua-global-2.yaml" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      - run: echo "standard,kubernetes-sigs/kind" | aqua g -f -
      - run: echo "x-motemen/ghq" | aqua g -f -
      - run: aqua g x-motemen/ghq aquaproj/aqua-installer
      - run: echo cli/cli | aqua g -f - x-motemen/ghq aquaproj/aqua-installer

      - run: aqua list
      - run: aqua update-checksum
        working-directory: tests/main
      - run: aqua i -l -a
        working-directory: tests/main
      - run: cmdx -v
        working-directory: tests/main
      - run: aqua i --test
        working-directory: tests/main
      - run: aqua which golangci-lint
        working-directory: tests/main
      - run: aqua which go
      - run: golangci-lint version
      - run: kind version
        working-directory: tests/main
      - run: kind version
      - run: restic version
        env:
          AQUA_PROGRESS_BAR: "true"
      - run: migrate -version
      - run: ghq -version
      - run: gh version
      - run: aqua -c tests/main/aqua-global.yaml g local,kubernetes-sigs/kustomize
      - run: github-compare -v
      - run: terrafmt version
      - run: helm version

      - run: aqua g -i suzuki-shunsuke/tfcmt
        working-directory: tests/main
      - run: git diff aqua.yaml
        working-directory: tests/main

      - name: "Test generate-registry"
        run: aqua gr cli/cli
      - name: "Test generate-registry (rust)"
        run: aqua gr XAMPPRocky/tokei

      # Test if global configuration files are read in `aqua list` and `aqua g`
      - run: aqua g suzuki-shunsuke/cmdx
        working-directory: ${{env.HOME}}
      - run: aqua list
        working-directory: ${{env.HOME}}

      - name: test aqua cp
        run: aqua cp actionlint golangci-lint
      - name: test aqua cp
        run: dist/actionlint -version
      - name: test aqua cp
        run: dist/golangci-lint version

      - name: Test update-aqua
        run: aqua update-aqua
