---
name: Integration Test on Windows
on:
  workflow_dispatch:
    inputs:
      aqua_version:
        required: false
      pr_number:
        required: false
      ref:
        required: false

env:
  AQUA_GLOBAL_CONFIG: ${{ github.workspace }}/tests/main/aqua-global.yaml:${{ github.workspace }}/tests/main/aqua-global-2.yaml
  AQUA_LOG_COLOR: always
  AQUA_LOG_LEVEL: debug

permissions: {}

jobs:
  integration-test-windows:
    timeout-minutes: 30
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    env:
      GITHUB_TOKEN: ${{github.token}}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{inputs.ref}}
      - run: gh pr checkout "${{inputs.pr_number}}"
        if: inputs.pr_number != ''
        env:
          GITHUB_TOKEN: ${{github.token}}

      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        if: inputs.aqua_version != ''
        with:
          aqua_version: ${{inputs.aqua_version}}

      - uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        if: inputs.aqua_version == ''
        with:
          go-version: 1.23.2
          cache: true
      - run: go install ./cmd/aqua
        if: inputs.aqua_version == ''

      - run: echo "$HOME/AppData/Local/aquaproj-aqua/bin" >> "$GITHUB_PATH"
      - run: aqua policy allow
      - run: echo "AQUA_GLOBAL_CONFIG=$PWD/tests/main/aqua-global.yaml:$PWD/tests/main/aqua-global-2.yaml" >> "$GITHUB_ENV"
      - run: echo "standard,kubernetes-sigs/kind" | aqua g -f -
      - run: echo "x-motemen/ghq" | aqua g -f -
      - run: aqua g x-motemen/ghq aquaproj/aqua-installer
      - run: echo cli/cli | aqua g -f - x-motemen/ghq aquaproj/aqua-installer

      - run: aqua list
      - run: aqua update-checksum
        working-directory: tests/main
      - run: aqua i -l -a
        working-directory: tests/main
      - run: cmdx -v
        working-directory: tests/main
      - run: aqua i
        working-directory: tests/main
      - run: aqua which golangci-lint
        working-directory: tests/main
      - run: aqua which go
      - run: golangci-lint version
      - run: kind version
        working-directory: tests/main
      - run: kind version
      - run: restic version
        env:
          AQUA_PROGRESS_BAR: "true"
      - run: migrate -version
      - run: ghq -version
      - run: gh version
      - run: aqua -c tests/main/aqua-global.yaml g local,kubernetes-sigs/kustomize
      - run: github-compare -v
      - run: helm version
      - run: terrafmt version

      - run: aqua g -i suzuki-shunsuke/tfcmt
        working-directory: tests/main
      - run: git diff aqua.yaml
        working-directory: tests/main

      - name: "Test generate-registry"
        run: aqua gr cli/cli
      - name: "Test generate-registry (rust)"
        run: aqua gr XAMPPRocky/tokei

      # Test if global configuration files are read in `aqua list` and `aqua g`
      - run: aqua g suzuki-shunsuke/cmdx
        working-directory: ${{ env.HOME }}
      - run: aqua list
        working-directory: ${{ env.HOME }}

      - name: test aqua cp
        run: aqua cp actionlint golangci-lint
      - name: test aqua cp
        run: dist/actionlint -version
      - name: test aqua cp
        run: dist/golangci-lint version

      - name: Test update-aqua
        run: aqua update-aqua

  integration-test-windows-pwsh:
    timeout-minutes: 30
    runs-on: windows-latest
    env:
      GITHUB_TOKEN: ${{github.token}}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{inputs.ref}}
      - run: gh pr checkout "${{inputs.pr_number}}"
        if: inputs.pr_number != ''
        env:
          GITHUB_TOKEN: ${{github.token}}

      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        if: inputs.aqua_version != ''
        with:
          aqua_version: ${{inputs.aqua_version}}

      - uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        if: inputs.aqua_version == ''
        with:
          go-version: 1.23.2
          cache: true
      - run: go install ./cmd/aqua
        if: inputs.aqua_version == ''

      - run: |
          $(if($env:AQUA_ROOT_DIR) {echo $env:AQUA_ROOT_DIR} else {echo "$HOME/AppData/Local/aquaproj-aqua/bin"}) | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - run: aqua policy allow
      - run: echo "AQUA_GLOBAL_CONFIG=$PWD\tests\main\aqua-global.yaml;$PWD\tests\main\aqua-global-2.yaml" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      - run: echo "standard,kubernetes-sigs/kind" | aqua g -f -
      - run: echo "x-motemen/ghq" | aqua g -f -
      - run: aqua g x-motemen/ghq aquaproj/aqua-installer
      - run: echo cli/cli | aqua g -f - x-motemen/ghq aquaproj/aqua-installer

      - run: aqua list
      - run: aqua update-checksum
        working-directory: tests/main
      - run: aqua i -l -a
        working-directory: tests/main
      - run: cmdx -v
        working-directory: tests/main
      - run: aqua i
        working-directory: tests/main
      - run: aqua which golangci-lint
        working-directory: tests/main
      - run: aqua which go
      - run: golangci-lint version
      - run: kind version
        working-directory: tests/main
      - run: kind version
      - run: restic version
        env:
          AQUA_PROGRESS_BAR: "true"
      - run: migrate -version
      - run: ghq -version
      - run: gh version
      - run: aqua -c tests/main/aqua-global.yaml g local,kubernetes-sigs/kustomize
      - run: github-compare -v
      - run: terrafmt version
      - run: helm version

      - run: aqua g -i suzuki-shunsuke/tfcmt
        working-directory: tests/main
      - run: git diff aqua.yaml
        working-directory: tests/main

      - name: "Test generate-registry"
        run: aqua gr cli/cli
      - name: "Test generate-registry (rust)"
        run: aqua gr XAMPPRocky/tokei

      # Test if global configuration files are read in `aqua list` and `aqua g`
      - run: aqua g suzuki-shunsuke/cmdx
        working-directory: ${{env.HOME}}
      - run: aqua list
        working-directory: ${{env.HOME}}

      - name: test aqua cp
        run: aqua cp actionlint golangci-lint
      - name: test aqua cp
        run: dist/actionlint -version
      - name: test aqua cp
        run: dist/golangci-lint version

      - name: Test update-aqua
        run: aqua update-aqua
