---
name: test (workflow_call)
on: workflow_call
permissions: {}
jobs:
  path-filter:
    # Get changed files to filter jobs
    timeout-minutes: 10
    outputs:
      test-docker: ${{steps.changes.outputs.test-docker}}
    runs-on: ubuntu-24.04
    permissions: {}
    steps:
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            test-docker:
              - Dockerfile
              - .github/workflows/wc-test-docker.yaml

  test:
    uses: suzuki-shunsuke/go-test-full-workflow/.github/workflows/test.yaml@596bc52a7f02dd896d3351e61e4dfa661c1f3304 # v5.0.1
    with:
      aqua_version: v2.55.3
      golangci-lint-timeout: 120s
    permissions:
      pull-requests: write
      contents: read

  test-goreleaser:
    uses: ./.github/workflows/test-goreleaser.yaml
    needs: path-filter
    permissions: {}

  test-docker:
    uses: ./.github/workflows/wc-test-docker.yaml
    needs: path-filter
    if: needs.path-filter.outputs.test-docker == 'true'
    permissions: {}

  integration-test:
    uses: ./.github/workflows/wc-integration-test.yaml
    permissions: {}

  test_doc:
    uses: ./.github/workflows/workflow_call_deploy_doc.yaml
    permissions:
      contents: write
      issues: write
